body {
    font-family: 'Courier New', Courier, monospace;
}

.imp {
    font-weight: bold;
}

.titles {
    text-align: center;
}

ul li {
    background-color: aqua;
}

ol li {
    background-color: blueviolet;
}

img {
    height: auto;
    width: 400px;
}
